<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <localRepository>~/.m2</localRepository>
    <servers>
        <server>
            <id>central</id>
            <username>${env.MAVEN_DEV_USERNAME}</username>
            <password>${env.MAVEN_DEV_PASSWORD}</password>
        </server>
        <server>
            <id>snapshot</id>
            <username>${env.MAVEN_DEV_USERNAME}</username>
            <password>${env.MAVEN_DEV_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>fundsware-services</id>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>https://dev.fundsware.de/artifactory/libs-release</url>
                </repository>
                <repository>
                    <id>snapshot</id>
                    <name>libs-snapshot</name>
                    <url>https://dev.fundsware.de/artifactory/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>plugins-release</name>
                    <url>https://dev.fundsware.de/artifactory/plugins-release</url>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshot</id>
                    <name>plugins-snapshot</name>
                    <url>https://dev.fundsware.de/artifactory/plugins-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>fundsware-services</activeProfile>
    </activeProfiles>
</settings>
